<html>
  <link rel='stylesheet' href='/css/index.css' type='text/css'>
  <script>console.log("e")</script>
  <head>
    <title>Portfolio | Home</title>
  <center>
    <h1 class="title_header">Portfolio | Home</h1>
    <div class="main_navbar">
      <a class='nav_item' href='#'>Home</a>
      <a class='nav_item' href='/projects'>Projects</a>
      <a class='nav_item' href='/contact'>Contact Me</a>
      </div>
    </center>
  </head>
  <br>
  <body>
    <div class="rgb">
    <p class='text light'>Welcome to my portfolio!</p>
    </div>
  </body>
</html>
